<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Fecha</title>
</head>
<body>
    <h1>Formulario para Sumar Dos Meses a una Fecha</h1>
    <form method="post">
        <label for="fecha">Ingrese una Fecha (Formato YYYY-MM-DD):</label>
        <input type="text" id="fecha" name="fecha" required>
        
        <label for="nombre">Ingrese nombres y apellidos:</label>
        <input type="text" id="nombre" name="nombre" required>
        <button type="submit">Ingreso</button>
        </form>
</body>
</html>
